In [95]:
from collections import defaultdict
import pandas as pd

events = pd.read_csv('data/events.csv')
structure = pd.read_csv('data/structure.csv')

data = pd.merge(events, structure, on='step_id')

In [96]:
data.head()

,user_id,action,step_id,time,course_id,module_id,module_position,lesson_id,lesson_position,step_position,step_type,step_cost
0,1,viewed,47435,1465181036,217,623,8,13258,3,5,video,0
1,1,viewed,47435,1465181021,217,623,8,13258,3,5,video,0
2,81,viewed,47435,1465073711,217,623,8,13258,3,5,video,0
3,81,viewed,47435,1465073705,217,623,8,13258,3,5,video,0
4,81,viewed,47435,1465073567,217,623,8,13258,3,5,video,0

In [98]:
data = data.sort_values('time')

In [101]:
start_time = {}
for x, row in data.iterrows():
    user_id = row['user_id']
    if user_id not in start_time:
        start_time[user_id] = row['time']

In [105]:
cur_score = defaultdict(int)
end_time = {}
for x, row in data[data['action'] == 'passed'].iterrows():
    user_id = row['user_id']
    time = row['time']
    score = row['step_cost']
    if cur_score[user_id] < 24:
        cur_score[user_id] += score
        if cur_score[user_id] >= 24:
            end_time[user_id] = time

In [108]:
ans = []
for user_id, time in end_time.items():
    ans.append([time - start_time[user_id], user_id])

In [110]:
ans.sort()

In [113]:
print ','.join(map(lambda x: str(x[1]), ans[:10]))

4313,1264,821,1146,1124,2622,713,972,4280,1291